[submodule "dependencies/cppfront"]
	path = dependencies/cppfront
	url = https://github.com/amayesingnathan/cppfront.git
[submodule "dependencies/premake-core"]
	path = dependencies/premake-core
	url = https://github.com/premake/premake-core.git
